@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-bluu-next: var(--font-bluu-next);
  --font-aquiline: var(--font-aquiline);
  --font-magik: var(--font-magik);
}

@media (max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media (max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}

@media (max-width: 360px) {
	html {
		font-size: 100%;
	}
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
}

body,
input,
textarea,
select,
button {
	font: 400 1rem "Roboto", sans-serif;
}


button {
	cursor: pointer;
}