.active {
  color: red;
}

.leading-20 {
  line-height: 5rem;
}

.transition-color-2 {
  transition: color 0.2s;
}

nav>a.active {
  font-weight: bold;
}

.active::before {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  border-top-left-radius: var(--radius-md);
  border-top-right-radius: var(--radius-md);
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: red;
  height: var(--spacing);
  bottom: 1px;
}